:root {
  --red-salsa: #f94144ff;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --mango-tango: #f9844aff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --jungle-green: #43aa8bff;
  --steel-teal: #4d908eff;
  --queen-blue: #577590ff;
  --celadon-blue: #277da1ff;
}

/* SCSS HEX */
$red-salsa: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange-color-wheel: #f8961eff;
$mango-tango: #f9844aff;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$jungle-green: #43aa8bff;
$steel-teal: #4d908eff;
$queen-blue: #577590ff;
$celadon-blue: #277da1ff;
$imaga-border-color: #735CDD;