@use '../../node_modules/bootstrap/scss/bootstrap.scss' as *;
@use './varaibles' as *;
@use './functions' as *;



body {
  background-color: $maize-crayola;
}

//#region userData
#messageContainer {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $ligth-blue-0;

  #userData {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    width: 100%;

    span {
      flex: 1 0 200px;
      cursor: unset;
      font-size: 1.25rem;
      font-weight: 600;
      border: none;
      color: #000;
      display: grid;
      place-content: center;


      &:first-of-type {
        background-color: $mango-tango;
      }

      &:last-of-type {
        background-color: $red-salsa;
        color: white
      }

      &:nth-of-type(2) {
        background-color: $jungle-green;
      }
    }

    // timer
    span:last-of-type {
      min-height: 2.5em;
      font-size: 1.25rem;
      font-weight: 600;
    }

    button {
      flex-basis: 180px;
      font-size: 1.25rem;
      font-weight: 600;
    }

  }
}

//#endregion

//#region gallary container
#gallaryContainer {
  $colectionLength: css-min(#{ calc(100vh - calc(15vh + 25vh)) }, #{ calc(100vw - 2 * 1rem) });
  ;
  $colectionBorder: 4px;
  $gap: 1rem;
  row-gap: $gap;
  column-gap: $gap;
  $border-raduis: 1em;
  border-radius: $border-raduis;

  #colection {
    width: $colectionLength;
    height: $colectionLength;
    border: $colectionBorder solid transparent;
    position: relative;
    transition: all ease-in-out 0.3s;

    &:hover {
      box-shadow: 0px 8px 12px 2px rgb(0 0 0 / 32%);
      border: $colectionBorder solid $orange-red;
      transform: scale(1.009);

      img {
        filter: brightness(100%);
      }
    }

    &>div {
      width: calc(($colectionLength - 2 * $colectionBorder ) / 2);
      border: 2px solid $jungle-green;

      img {
        filter: brightness(50%);
        transition: all ease-in-out 0.3s;
      }
    }

    button {
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//#endregion

//#region game
@mixin img-container($countInRow, $boardLength, $borderWidth) {
  div.img-#{$countInRow}-#{$countInRow} {
    width: calc(($boardLength - $borderWidth * 2) / $countInRow);
    height: calc(($boardLength - $borderWidth * 2) / $countInRow);
    outline: none;
    background-color: aquamarine;
    border: 3px solid $imaga-border-color;
    box-shadow: 0px 3px 14px 4px rgba(0, 0, 0, 0.415);
    transition: all ease 0.3s;

    @if $countInRow ==9 {
      padding: 0.2em;
      border-radius: 0.75em;
    }

    @else {
      border-radius: 1em;
      padding: 0.5em;
    }

    &:focus {
      @if $countInRow ==9 {
        box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.268) inset;
      }

      @else {

        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.268) inset;
      }

      img {
        transform: scale(1.2);
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.511);
      }
    }

    &:hover {

      img {
        transform: scale(1.2);
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.511);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding: 0;
      transition: all ease-in-out 0.5s;
      border-radius: 50%;

    }
  }

  div.wrong {
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.5);
  }

  div.correct {
    border: 3px solid rgb(0, 100, 0);
    background-color: rgba(0, 255, 0, 0.5);
  }
}


#gameContainer {
  $boardLength: css-min(#{ calc(100vh - calc(15vh + 25vh)) }, #{ calc(100vw - 2 * 1rem) });
  $borderWidth: 0px;
  padding: 4rem 0;

  #choices {
    margin: auto;
    width: $boardLength;
    border: $borderWidth solid $orange-red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include img-container(4, $boardLength, $borderWidth);
    @include img-container(9, $boardLength, $borderWidth);
    height: fit-content !important;
  }

  #board {
    margin: auto;
    margin-top: 4rem;
    width: $boardLength;
    height: $boardLength;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include img-container(4, $boardLength, $borderWidth);
    @include img-container(9, $boardLength, $borderWidth);
  }
}

//#endregion